@font-face {
	font-family: Mensch;
	src: url (fonts/mensch.ttf);
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, enbed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summaru,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
html: {
	height: 100%;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
}
body {
	background-image: url(img/bg.png)
}
#wrapper {
	background-image: url(img/bg-center.png);
	width: 980px;
	margin: 0 auto;
}
#page_Header {
	margin: inherit;
	height: 350px;
	width: 980px;
} 
#social {
  background: url(img/bg-social.png);
  margin: 0 auto;
  height: 60px;
  width: 980px;
}
.social_button {
  height: 60px;
}
.social_button li {
  display: inline-block;
  
  width: 123px;
  height: 33px;
}
#logo img {
	display: block;
	margin: 27px auto;
}
.line_1 {

	background: #9b9990;
	height: 3px;
	width: 940px;
	margin: 0 auto;
}
.line_2 {
	background: #9b9990;
	height: 0.1px;
	width: 940px;
	margin: 3px auto;
}
.line_3 {
	background: #9b9990;
	height: 0.1px;
	width: 940px;
}
nav {
	margin: 0 auto;
	padding: 30px 150px;
}

nav li {
display: inline-block;
margin-left: 50px;
 }
 
 nav a {
 	text-transform: uppercase;
 	font: 24px Mensch, sans-serif;
 	color: #4d4d4d;
 	margin-top: 30px;
}
#slider {
 	margin-top: 23px; 
 	margin-left: -10px;
 	width: 1000px;
   	height: 435px;
   	background: #b0b68d;
 }
  #controls {
  	margin: 20px auto 0 auto;
  	width: 110px;
  }
     .control {
   	display: inline-block;
   	background: #d0cebe;
   	width: 28px;
   	height: 28px;
   	margin-right: 5px;
   	border-radius: 50%;
 }
 .control:hover .control-active, 
 .control:active .control-active {
 	background: #e37655;
	width: 17px;
	height: 17px;
	margin: 5px auto;
	border-radius: 50%;
 }
 #maine_Header {
 	text-align: center;
 	text-transform: uppercase;
 	font: 45px Mensch, sans-serif;
 	margin: 45px 0;
 	color: #4d4d4d;
 }
 .content {
 	height: 550px;
 	width: 980px;
 }
  .star-container {
	box-shadow: 1px 1px 2px #eae7d4;
  	height: 30px;
  	width: 43px;
  	margin: -25px auto 0 auto;
  	background: url(img/bg-center.png) repeat-y -2px;
  }
  .star {
	width: 100%;
	height: 100%;
  	background: url(img/star.png) no-repeat center center;
  }

.box {
	position: relative;
	display: inline-block;
	width: 980px;
}
.box_1 {
	margin-left: 20px;
	float: left;
	width: 300px;
	height: 355px;
	margin-right: 20px;
}
.box_2 {
	float: left;
	margin-right: 20px;
	width: 300px;
	height: 355px;
}
.box_3 {
	margin-right: 20px;
	float: left;
	width: 300px;
	height: 355px;
}
.box-image {
	width: 300px;
	height: 355px;
	background: #b0b68d;
}

  .date {
  	width: 70px;
  	height: 70px;
  	border-radius: 50%;
  	margin: -35px 113px;
  	background: #e37655;
  	box-shadow: 1px 2px 2px #767570;
  }
  .date-title {
  	text-align: center;
 	text-transform: uppercase;
 	font: 24px Mensch, sans-serif;
 	color: #fff;
 	padding-top: 10px;
    padding-left: 5px;
 }
  .box-description {
  	width: 300px;
  }
  .info {
    overflow: auto;
  }
  .line_content {
  	background: #9b9990;
	height: 0.1px;
  }
  .box-title {
  	padding-top: 70px;
  	text-align: center;
 	text-transform: uppercase;
 	font: 16px Tahoma, sans-serif;
 	color: #4d4d4d;
  }
  .box-tags {
  	text-align: center;
 	font: 12px Tahoma, sans-serif;
 	color: #4d4d4d;
 	margin: 0 78px;
  }
  #pade_Footer {
    position: relative;
  	background: url(img/back.png);
  	height: 375px;
  	width: 980px;
  }
  .head-footer {
    position: relative;
  	height: 87px;
  	background: #e37655;
  }
  .title-footer {
  	padding-bottom: 42px;
  }
  .name {
  	text-align: center;
  	font: 12px Tahoma, sans-serif;
  	color: #4d4d4d;
  	padding-top: 19px;
  }
  .title-name {
  	text-align: center;
  	font: 16px Tahoma, sans-serif;
  	color: #fff;
  }
  #link {
  	color: #fbd00e;
  }
  
  .info {
    height: 375px;
    background: url(img/back.png);
  }
  
  .title-footer {
    padding-bottom: 0;
    padding-top: 50px;
    text-align: center;
    font: 24px Mensch, sans-serif;
    color: #e8e5d2;
  }

  .shape_left img {
    bottom: 14px;
    left: -54px;
    position: absolute;
    float: left;
  }
  .shape_right img {
    position: absolute;
    float: right;
    bottom: 14px;
    right: -54px;
  }  
  .info-posts a {
    display: block;
    
    text-align: left;
    font: 14px Tahoma, sans-serif;
    color: #e8e5d2;
  }
  .info-posts {
    display: block;
    padding-top: 7px;
    text-align: left;
    font: 14px Tahoma, sans-serif;
    color: #e8e5d2;
  }
  .info-posts span {
    text-align: left;
    font: 14px Tahoma, sans-serif;
    color: #878473;
  }
 
 .posts {
  margin-left: 17px;
  float: left;
  width: 220px;
  }
  .archives {
  margin-right: 17px;
  margin-left: 17px;
  float: left;
  width: 220px; 
  }
  .dummy {
    float: left;
    width: 220px;
  }
  .search  {
    margin-left: 17px;
    float: left;
    width: 220px;
  }
  .info_line {
    background: #61615d;
    height: 0.1px;
    width: 220px;
  }
  .end_footer {
    margin: 0 auto;
    width: 980px;
    clear: both;
    background: #4d4d4d;
    position: relative;
  }
  .arrow {
  position: relative;
  left: 490px;
  bottom: 17px;
  }
  .by {
    padding: 0 0 25px;
    text-align: center;
    font: 14px Tahoma, sans-serif;
    color: #fff;
  }
  .by span {
    text-align: center;
    font: 14px Tahoma, sans-serif;
    color: #fdd600;
  }

